
<div class="news-container">
  <h1>News Component</h1>

    <p>Input Value: {{ inputValue }}</p>

  <div *ngIf="store.isLoading()" class="loading-modal">
    <div class="loading-content">
      Loading...
    </div>
  </div>

  <div *ngIf="store.hasError()" class="error-message">
    Error: {{ store.error() }}
  </div>

  <div *ngIf="store.hasArticles()" class="articles-container">
    <div *ngFor="let article of store.articles()" class="article">
      <h3>{{ article.title }}</h3>
      <p>{{ article.description }}</p>
    </div>
  </div>
</div>